<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>

    </tr>
    <tr th:each="part :${parts}" th:object="${part}">
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{quantity}"></td>
        <td>
            <a class="text-primary" th:href="@{/parts/edit/{id}(id=${part.id})}">Edit</a>
            <a class="text-danger" th:href="@{/parts/delete/{id}(id=${part.id})}">Delete</a>

        </td>

    </tr>
</table>
