<div class="container body-content span=8 offset=2">
    <div class="well" th:object="${model}">
        <form class="form-horizontal" th:action="@{/cars/create}" method="post">
            <fieldset>
                <legend class="text-center">Add Car</legend>

                <!--<th:block th:unless="${customer_notification} == null">-->
                    <!--<div class="alert alert-success text-center">-->
                        <!--<strong th:text="${customer_notification}"></strong>-->
                    <!--</div>-->
                <!--</th:block>-->

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="make">Make</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" type="text" id="make" placeholder="Make"
                               required="required" th:field="*{make}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="model" >Model</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="model"  type="text" placeholder="Model"
                               required="required" th:field="*{model}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="traveledDistance" >Date</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="traveledDistance"  type="number" required="required"
                               placeholder="Traveled distance" th:field="*{travelledDistance}"/>
                    </div>
                </div>

                <label for="parts" class="col-lg-2 control-label">Parts</label>
                <div class="col-lg-10">
                    <select class="form-control" id="parts" name="parts"
                            multiple="multiple" size="10" th:field="*{partsIds}">
                        <option th:each="part : ${parts}"
                                th:value="${part.id}"
                                th:text="${part.name}"></option>
                    </select>
                </div>



                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" th:href="@{/customers/all/ascending}">Cancel</a>
                        <input value="Add" type="submit" class="btn btn-primary"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>